<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/webjars/Semantic-UI/2.4.1/semantic.css">
<head>
    <meta charset="UTF-8">
    <title th:text="${film.titre}">titre</title>
</head>
<body>
<div>
    <div class="ui secondary pointing menu">
       <a th:href="@{'/'}" class="item active"> <i class="film icon"></i> Liste des films </a>
        <a class="item">Recherchez un film </a>

    </div>
 <!--   <div class="ui segment">
        <p></p>
    </div>-->
    <h1 th:text="${film.titre}">titre du film</h1>
    <img th:src="'/affiches/'+${film.getAffiche()}" height="288px" width="216px">
    <p style="margin-top: 50px;"><span> Résumé : </span><span th:text="${film.getResume()}"></span></p>
    <h2>Note : <span th:text="${film.getNotation()}">4.5</span></h2>
<!--    <ul>
        <li th:each="role:${film.getRole()}"><img th:src="'/image/'+${role.getPersonne().getPhotoPath()}" height="75"
                                                  width="75"><a th:text="${role.toString()}"
                                                                th:href="@{'/acteur/'+${role.getPersonne().getPhotoPath()}}"></a>
        </li>
    </ul>-->
 <!--   <div class="ui horizontal list">
        <div class="item">
            <ul>
                <li th:each="role:${film.getRole()}">
            <img class="ui mini circular image" th:src="'/image/'+${role.getPersonne().getPhotoPath()}" height="75" width="75"><a th:text="${role.toString()}"
                                                                                                                                  th:href="@{'/acteur/'+${role.getPersonne().getPhotoPath()}}"></a>
            <div  class="content">
                <div th:each="role:${film.getRole()}" class="ui sub header"><a th:text="${role.toString()}"
                                                                               th:href="@{'/acteur/'+${role.getPersonne().getPhotoPath()}}"></a></div>Coordinateur </div>
                </li>
        </div>-->



                    <div class="ui people shape" th:each="role : ${film.roles}">
                        <div class="image"> <img th:src="'/affiches/'+ ${role.getPersonne().getPhotoPath()}"> </div>
                                <div class="content"> <!--<p th:text="'Nom : '+ ${role.personne.nom}+'<br/>'+' Prénom : '+${role.personne.prenom} +' Année de naissance : ' + ${role.personne.naissance}"></p>-->
                                    <p th:text="'Nom : '+ ${role.personne.nom} "></p>
                                    <p th:text="'Prénom  : '+ ${role.personne.prenom} "></p>
                                    <p th:text="'Date de naisance : '+ ${role.personne.naissance} "></p>
                                    </div>

                        <br>
                               <!-- <div class="column" th:text="'Prénom : ' + ${role.personne.prenom}"></div>
                                    <div class="column" th:text="'Année de naissance : ' + ${role.personne.naissance}"></div>-->


                        </div>
                    </div>
                        <!--<div> <h2 th:each="role:${film.getRole()}" th:text="${role.getPersonne().getNom()}"></h2>Steve Jobes</div>-->



           </div>
</body>
</html>