<!DOCTYPE html>
<!--declaration d'un espace de nommage th dans lequ'elle est stocké thymeleaf-->
<link rel="stylesheet" href="/webjars/Semantic-UI/2.4.1/semantic.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#FFFFFF">
<!--on remplace le contenu de la balise H1 avec le contenu de th attention ça remplace tout-->
<h1 th:text="'bonjour '+${nom}">Hello World</h1>
<!--on va afficher les film ici grace a l'objet filmsDao-->
<ul>
    <li th:each="film:${films}"><a th:text="${film.getTitre()}"th:href="@{'/film/'+${film.getId()}}"></a></li>
</ul>
</body>
</html>